<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties">
    </properties>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="com.solvd.underground.persistence.impl.CarriageMapperImpl"/>
<!--        <mapper resource="src/main/resources/mapper/DepotMapper.xml"/>-->
<!--        <mapper resource="src/main/resources/mapper/LineMapper.xml"/>-->
<!--        <mapper resource="src/main/resources/mapper/StationMapper.xml"/>-->
<!--        <mapper resource="src/main/resources/mapper/TrainMapper.xml"/>-->
    </mappers>
</configuration>