<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.underground.persistence.LineRepository">
    <select id="read" resultMap="LineResultMap">
        select id as line_id, name as line_name from `lines` where id = #{id};
    </select>

    <delete id="delete" parameterType="Long">
        delete from `lines` where id = #{id};
    </delete>

    <resultMap id="LineResultMap" type="com.solvd.underground.domain.structure.Line" autoMapping="false">
        <id property="id" column="line_id" />
        <result property="name" column="line_name"/>
    </resultMap>
</mapper>