<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.underground.persistence.LineRepository">
    <sql id="lineColumns">
        l.id as line_id, l.depot_id, l.name as line_name
    </sql>

    <sql id="lineDepotColumns">
        <include refid="com.solvd.underground.persistence.LineRepository.lineColumns"/>,
        <include refid="com.solvd.underground.persistence.DepotRepository.depotTrainColumns"/>,
        <include refid="com.solvd.underground.persistence.StationRepository.stationColumns"/>
    </sql>

    <sql id="readLines">
        select
        <include refid="com.solvd.underground.persistence.LineRepository.lineDepotColumns"/>
        from `lines` l
        left join depots d on l.depot_id = d.id
        left join trains t on d.id = t.depot_id
        left join carriages c on t.id = c.train_id
        left join line_stations ls on l.id = ls.line_id
        left join stations s on ls.station_id = s.id
    </sql>

    <select id="read" resultMap="LineResultMap">
        <include refid="com.solvd.underground.persistence.LineRepository.readLines"/>
        where l.id = #{id};
    </select>

    <select id="readAll" resultMap="LineResultMap">
        <include refid="com.solvd.underground.persistence.LineRepository.readLines"/>
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into `lines` (depot_id, name)
        values ((select id from depots where address = #{depot.address}), #{name});
    </insert>

    <insert id="createStationConnection" useGeneratedKeys="true" keyColumn="id">
        insert into line_stations (line_id, station_id)
        values ((select id from `lines` where name = #{line.name}),
        (select id from stations where name = #{station.name}))
    </insert>

    <update id="update">
        update `lines` set depot_id = (select id from depots where address = #{line.depot.address}), name = #{line.name}
        where id = #{id};
    </update>

    <delete id="delete" parameterType="Long">
        delete ls, l from line_stations ls inner join `lines` l where ls.station_id=l.id and l.id=#{id};
    </delete>

    <resultMap id="LineResultMap" type="com.solvd.underground.domain.structure.Line" autoMapping="false">
        <id property="id" column="line_id"/>
        <result property="name" column="line_name"/>
        <association property="depot" resultMap="com.solvd.underground.persistence.DepotRepository.DepotResultMap"/>
        <collection property="stations" ofType="Station"
                    resultMap="com.solvd.underground.persistence.StationRepository.StationResultMap"/>
    </resultMap>
</mapper>